downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
.curseclient
.ReAuth.cfg
*.log
*.zip
minecraftinstance.json
usercache.json
usernamecache.json
cache
.mixin.out
options.txt
patchouli_data.json
servers.dat
mineraltracker
resources
crash-reports
*.jpg
*.png
*.properties
worldSettings.cfg
InvTweaks.cfg
*.64.dll
config/jei

